bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

.DS_Store
*.log
SSD/*.png
ROMS/*.crdownload
ROMS/DFS-2.26.rom
ROMS/ADFS-1.30.rom
.vs/
NotWorking/
AGENTS.md
Properties/
.vscode/settings.json
Assets/*.sav
RecentSaveStates.txt
Assets/*.json
